*.class
*.jar
/build/
/target/
/.metadata/
*/.metadata/**
*/target/**
.settings

*\.metadata\**
\build\
\target\*
\.metadata\
.classpath
\.settings\
.project
*\target\**
*.properties
proderp/nbactions.xml
