.bg-custom {
    color: white;
    background-color: #ff6666;
    border-bottom: 3px solid black;
}


footer {
    background: black;
    color: wheat;
    padding: 10px;
    /* position: fixed; */
    bottom:0;
    width: 100%;
}

.defaulthref {
    color:black;
    text-decoration: none;
}

.hoverhref {
    color: #ff6666 !important;
    text-decoration: none !important;
    transition-duration: 0.4s;
}

#indexjumb {
    background-color: antiquewhite;
}

.custom-button {
    background-color: black;
    border:0;
}

.custom-button:hover {
    background-color: #ff6666;
    transition-duration: 0.4s; 
}
article {
    margin-top: 50px;
    margin-bottom: 140px;
}

#text-column {
    /* padding-top: 100px; */
    padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}

.box {
    background-color: #484444; 
    color: white;
    border: 3px solid #ee6969;
    border-radius: 25px;
    height: 100%;
    margin: auto;
    width: 50%;   
}

.custom-image {
    height: 60%;
    width: 60%;
    padding: 2%;
    border: 2px solid #ee6969;
    border-radius: 25px;
    margin: 10px;
}



